<!DOCTYPE html>
<html>
<title>LYM Search Engine</title>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
  <style>
  div.center {
    margin-top:300px;
  }
  </style>
</head>
<body>
<!--
<div class="w3-card w3-panel">
    {% if name %}
      <h1>Hello {{ name }}!</h1>
    {% else %}
      <h1>Hello, World!</h1>
    {% endif %}
</div>
-->
<div style="margin-top:200px;">
  <div class="w3-panel w3-xxxlarge w3-center w3-section w3-bottombar w3-border-blue" style="width:30%; margin-left:auto; margin-right  :auto;">
    <p>LYM Search Engine v1.1</p>
  </div>
  <form action="search" class="w3-form w3-center">
    <div class="w3-panel">
      <input type="text" name="key" class="w3-xxlarge w3-light-grey w3-border w3-padding" style="width:50%" placeholder="Search..">
    </div>
    <div class="w3-panel">
      <input type="submit" value="Search" class="w3-btn w3-cyan w3-hover-white w3-text-white w3-hover-text-blue w3-xxlarge ">
    </div>
  </form>
</div>

</body>
</html>
